<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_10_Activity_1.Properties.Settings.TestDBConnectionString"
            connectionString="Data Source=ANNEX-PC00;Initial Catalog=TestDB;Persist Security Info=True;User ID=guantero.290593;Password=123456;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>